<link rel="stylesheet" type="text/css" href="css/footer.css">

<footer>
	<div class="footer_section">
		<div class="container">
			<div class="copyright">
					Copyright &copy; Fușneică Florentin-Cristian 2020
			</div>
		</div>
	</div>
</footer>
