<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>
		<meta charset="UTF-8">
		<title>Page not found</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/nav-css.css">
		<link rel="stylesheet" type="text/css" href="css/pagina-404.css">
		<link rel="stylesheet" type="text/css" href="css/@media_800.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="css/@media_580.css" media="screen and (max-width: 580px)">
    <meta name="description" content="Jocuri freeware">
    <meta name="keywords" content="jocuri, freeware, games, game, freeware games, jocuri freeware">
    <meta name="author" content="Fusneica Florentin-Cristian">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
</head>




<body>

    <% include ../fragmente/header %>

<main class="container">
   <p>404 - n-ai noroc, pagina nu exista</p><br><br>
   <a href="index.ejs" style="text-align:center;"> Hai inapoi <p><div style="text-decoration: underline; overflow: hidden;">ACASA </a></p>
</main>

<%- include("../fragmente/footer")  %> <!-- extensia nu e necesara -->

</body>
</html>  
