<!DOCTYPE html>
<html lang="ro">

	<head>
		<meta charset="UTF-8">
		<title>Contact</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/nav-css.css">
		<link rel="stylesheet" type="text/css" href="css/contact.css">
		<link rel="stylesheet" type="text/css" href="css/@media_800.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="css/@media_580.css" media="screen and (max-width: 580px)">
        <meta name="description" content="Jocuri freeware">
        <meta name="keywords" content="jocuri, freeware, games, game, freeware games, jocuri freeware">
        <meta name="author" content="Fusneica Florentin-Cristian">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	</head>



	<body>
  
    <% include ../fragmente/header %>

		<section>
			<div class="container">
				<div class="contact">
					<h1>Contact:</h1>
					<ul class="lista_contacte">
						<li><p><strong>Mail:</strong> <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">dummy_account@contdummy.com</a>;</p></li>
						<li><p><strong>Telefon:</strong> <span style="color: rgb(255, 255, 0);">+40</span>7773333000;</p></li>
						<li>Mă puteți găsi și pe <span style="color: rgb(29,161,242);"> Twitter </span> la @FreewareGamesFFC.</li>
					</ul>
				</div>
			</div>
		</section>


		<footer>
			<div class="footer_section">
				<div class="container">
					<div class="copyright">
							Copyright &copy; Fușneică Florentin-Cristian 2020
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>