<!DOCTYPE html>
<html lang="ro">

	<head>
		<meta charset="UTF-8">
		<title>About</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/nav-css.css">
		<link rel="stylesheet" type="text/css" href="css/despre.css">
		<link rel="stylesheet" type="text/css" href="css/@media_800.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="css/@media_580.css" media="screen and (max-width: 580px)">
        <meta name="description" content="Jocuri freeware">
        <meta name="keywords" content="jocuri, freeware, games, game, freeware games, jocuri freeware">
        <meta name="author" content="Fusneica Florentin-Cristian">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	</head>


	<body>

    <% include ../fragmente/header %>

		<div class="container">
			<div class="despre">
				<h1>Despre site:</h1>
				<section class="informatii_site">
					<h2>Ce încerc să realizez creând acest site?</h2>
					<p>Doresc să prezint unele dintre cele mai cunoscute titluri în ceea ce privește jocurile freeware. În cazul meu, aceste jocuri sunt nostalgice, iar în <a href="lista-de-jocuri.html">lista de jocuri</a> aveți ocazia să le descărcați pe loc și să încercați ca să înțelegeți cum aceste jocuri nu reprezintă doar niște actiune drăguță pentru a pierde timpul, dar și pasiunea care a venit odată cu crearea acestor jocuri.</p>
					<p>Cu acest site vă încurajez să încercați și alte titluri mai puțin auzite, astfel, de la o persoana la alta, aceste jocuri să primeasca mai multă atenție, iar dezvoltatorii lor sa aibă mai multă încredere în a crea jocuri și mai bune în viitor!</p>
				</section>
				<section class="informatii_freeware">
					<h2>La ce se refera freeware?</h2>
					<blockquote cite="https://ro.wikipedia.org/wiki/Freeware">Freeware sunt acele programe pentru computer care au drepturi de autor înregistrate și sunt accesibile pentru a fi utilizate gratuit, pentru o perioadă nelimitată de timp, spre deosebire de shareware – în cazul căruia utilizatorul este solicitat să plătească (după perioada de testare).</blockquote>
					<p>Cu alte cuvinte, avem acces nelimitat gratuit la aplicația în cauză. În cazul acesta, aceste jocuri incredibile sunt gratuite și pot fi jucate gratuit!</p>
				</section>
			</div>
		</div>



<%- include("../fragmente/footer")  %> <!-- extensia nu e necesara -->

	</body>

</html>