<!DOCTYPE html>
<html lang="ro">

	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/nav-css.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/@media_800.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="css/@media_580.css" media="screen and (max-width: 580px)">
    <meta name="description" content="Jocuri freeware">
    <meta name="keywords" content="jocuri, freeware, games, game, freeware games, jocuri freeware">
    <meta name="author" content="Fusneica Florentin-Cristian">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <script src="js/2-2.js"></script>
	</head>


	<body>
		
    <% include ../fragmente/header %>

		<section>
			<div class="container">
				<div class="introducere">
					<!-- <div class="h1_intro"> -->
						<h1>Introducere:</h1>
					<!-- </div> -->
					<article class="informatii_site">
						<h2>Bine ați venit!</h2>
						<p id="p1"></p>
            <p id="p2"></p>
					</article>
				</div>
			</div>
		</section>


<%- include("../fragmente/footer")  %> <!-- extensia nu e necesara -->
		

	</body>

</html>