<!DOCTYPE html>
<html lang="ro">

	<head>
		<meta charset="UTF-8">
		<title>Jocuri</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/nav-css.css">
		<link rel="stylesheet" type="text/css" href="css/grid.css">
		<link rel="stylesheet" type="text/css" href="css/table-style.css">
    <script src="js/general.js"></script>
		<link rel="stylesheet" type="text/css" href="css/@media_800.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="css/@media_580.css" media="screen and (max-width: 580px)">
        <meta name="description" content="Jocuri freeware">
        <meta name="keywords" content="jocuri, freeware, games, game, freeware games, jocuri freeware, download, download free games, download freeware games, chicken invaders, chicken invaders 1999, doki, doki doki literature club, team salbato, osu, imvu, fnaf, five nights at freddy's, fnaf world, solitaire, nostalgia, nostalgie, descarcare jocuri, descarcare jocuri gratis, jocuri gratis, joc gaini, chicken game, horror">
        <meta name="author" content="Fusneica Florentin-Cristian">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	</head>



	<body>

<header>
    <% include ../fragmente/header %>
</header>
    
		<div class="container">
			<main>
      <div id="butonel">
        <button id="butonelul">Ascunde/Afiseaza imagini</button>
      </div>

				<table class="table">
			     	<thead>
			     		<tr>
				     	 	<th class="c1">id</th>
				     	 	<th>Numele jocului</th>
				     	 	<th>Data lansării</th>
				     	 	<th>Link de descărcare</th>
			     	 	</tr>
			     	</thead>
			     	<tbody>
			     	  	<tr>
							<td data-label="id" class="c1">1</td>
							<td data-label="Numele jocului">Chicken Invaders</td>
							<td data-label="Data lansării inițiale"><time datetime="1999">1999</time></td>
			     	  		<td data-label="Link descărcare"><a href="http://www.interactionstudios.com/files/ChickenInvadersInstaller130.exe" title="Direct link">Descarcă!</a></td>
						</tr>
			     	  	<tr>
							<td data-label="id" class="c1">2</td>
							<td data-label="Numele jocului">FNaF World</td>
							<td data-label="Data lansării inițiale"><time datetime="2016-01-21">2016</time></td>
			     	  		<td data-label="Link descărcare"><a href="https://dw.uptodown.com/dwn/Gn--kYHTnDkyEi1ZtswLFNAMIlVGq3Q1FQbjvgBCeE7M8Tyb2z06P63oG_8Sab_seL-uj5osM2vHUX6kcejO4V3so6iualofuC1WFzK3dR88IDz7OWTH4kVriItRuHk0/QcVOUwEvolflFUvuZ5HOQTi9VHNIJvTx20fJMv5zXPS0-CuEagoFq2FvsGGPE8HFCsemLPP4DLmGmqP0o_23TfnYw8-8-hXoswu23QR9dr8YmuCb8l4no-mUtT8Fap-O/urP4ivIYTJyh_9o_UetbZYET9wkp_dUWoDrGL5aF76w=/" title="Direct link">Descarcă!</a></td>
						</tr>

			     	  	<tr>
							<td data-label="id" class="c1">3</td>
							<td data-label="Numele jocului">Doki Doki Literature Club!</td>
							<td data-label="Data lansării inițiale"><time datetime="2017-09-22">2017</time></td>
			     	  		<td data-label="Link descărcare"><a href="http://download1350.mediafire.com/t2t57yiqhahg/s9z0cd9is54et96/DDLC-1.1.1-pc.rar" title="Direct link">Descarcă!</a></td>
						</tr>

			     	  	<tr>
							<td data-label="id" class="c1">4</td>
							<td data-label="Numele jocului">Solitaire</td>
							<td data-label="Data lansării inițiale">N/A</td>
			     	  		<td data-label="Link descărcare"><a href="https://files.downloadnow.com/s/software/16/00/23/27/123freesolitaire-v1100-setup.exe?token=1586006105_d39ee2f244f7a79aa0540e334275c120&fileName=123freesolitaire-v1100-setup.exe" title="Direct link">Descarcă!</a></td>
						</tr>

			     	  	<tr>
							<td data-label="id" class="c1">5</td>
							<td data-label="Numele jocului">Osu!</td>
							<td data-label="Data lansării inițiale"><time datetime="2007-09-16">2007</time></td>
			     	  		<td data-label="Link descărcare"><a href="https://m1.ppy.sh/r/osu!install.exe" title="Direct link">Descarcă!</a></td>
						</tr>

			     	  	<tr>
							<td data-label="id" class="c1">6</td>
							<td data-label="Numele jocului">IMVU</td>
							<td data-label="Data lansării inițiale"><time datetime="2004">2004</time></td>
			     	  		<td data-label="Link descărcare"><a href="https://www.sesasu-guffh.com/mc=59kevkyb2n/InstallIMVU_537.20.exe" title="Direct link">Descarcă!</a></td>
						</tr>

			     	  	
			     	</tbody>
			   	</table>

				<div id="grid">
					<figure class="figures"><div class="imagine_joc">
						<img src="images/chicken.jpg" alt="chicken" title="Chicken_Invaders"></div>
						<figcaption><span class="titlu">Chicken Invaders</span><br>
							<span class="descriere">Chicken Invaders is a series of shoot 'em up video games, developed by InterAction studios and released for Microsoft Windows, OS X, Linux, iOS, Windows Phone, and Android platforms. There are six games in the series.

							The main theme of the game is a battle between a lone combat spacecraft and a technologically advanced race of space-faring chickens, who are intent on subjugating (and later destroying) Earth. The games make heavy use of humor, especially in the form of parodies of Galaxian, Star Wars, Space Invaders and Star Trek.</span>
						</figcaption>
					</figure>
					<figure class="figures">
          <div class="imagine_joc"><img src="images/FNaF.jpg" alt="FNaF" title="FNaF"></div>
						<figcaption><span class="titlu">FNaF World</span><br>
							<span class="descriere">FNaF World is an indie role-playing video game created by Scott Cawthon. It is the first official spin-off to the Five Nights at Freddy's series. The game was released for Microsoft Windows on January 21, 2016, but came with unfinished gameplay and a large amount of bugs, leading to bad reception and ultimately the decision for the game's takedown from digital storefronts. On February 8, 2016, the game was updated, and re-released as freeware on Game Jolt free of charge.</span>
						</figcaption>
						
					</figure>
					<figure class="figures"><div class="imagine_joc">
						<img src="images/dokidoki.jpg" alt="dokidoki_image" title="DDLC!"></div>
						<figcaption><span class="titlu">Doki Doki Literature Club!</span><br>
							<span class="descriere">Doki Doki Literature Club! is a 2017 American visual novel developed by Team Salvato for Microsoft Windows, macOS, and Linux. The game was initially distributed through itch.io, and later became available on Steam. The story follows a male high school student who joins the school's literature club and interacts with its four female members. The game features a mostly linear story, with some alternative scenes and endings depending on the choices the player makes. While the game appears at first glance to be a lighthearted dating simulator, it is in fact a metafictional psychological horror game that extensively breaks the fourth wall.

							The game was developed in an estimated two-year period by a team led by Dan Salvato, known previously for his modding work for Super Smash Bros. Melee. According to Salvato, the inspiration for the game came from his mixed feelings toward anime and a fascination for surreal and unsettling experiences. Upon its release, Doki Doki Literature Club! received positive critical attention for its successful use of horror elements and unconventional nature within the visual novel genre.</span>
						</figcaption>
						
					</figure>
					<figure class="figures"><div class="imagine_joc">
						<img src="images/solitaire.jpg" alt="solitaire" title="Solitaire"></div>
						<figcaption><span class="titlu">Solitaire</span><br>
							<span class="descriere">Solitaire is any tabletop game which one can play by oneself, usually with cards. The term "solitaire" is also used for single-player games of concentration and skill using a set layout tiles, pegs or stones. These games include peg solitaire and mahjong solitaire. Most solitaire games function as a puzzle which, due to a different starting position, may (or may not) be solved in a different fashion each time.</span>
						</figcaption>
						
					</figure>
					<figure class="figures"><div class="imagine_joc">
						<img src="images/osu.png" alt="osu!" title="Osu"></div>
						<figcaption><span class="titlu">Osu!</span><br>
							<span class="descriere">Osu! (stylized as osu!) is a rhythm game primarily developed, published and created by Dean "peppy" Herbert. Originally released for Microsoft Windows on September 16, 2007, the game has also been ported to macOS. Its gameplay is based on titles including Osu! Tatakae! Ouendan, Taiko no Tatsujin, Beatmania IIDX, Elite Beat Agents, O2Jam, StepMania, and DJMax. The game has an active e-sports community, and is also sometimes recommended by professional players of other games to practice or warm up.</span>
						</figcaption>
						
					</figure>
					<figure class="figures"><div class="imagine_joc">
						<img src="images/imvu.png" alt="IMVU" title="IMVU"></div>
						<figcaption><span class="titlu">IMVU</span><br>
							<span class="descriere">IMVU Inc., (/ˈɪmvjuː/, stylized as imvu) is an online metaverse and social game. IMVU was founded in 2004 and was originally backed by venture investors Menlo Ventures, AllegisCyber Capital, Bridgescale Partners, and Best Buy Capital. IMVU members use 3D avatars to meet new people, chat, create, and play games. IMVU had over four million active users in 2014. Current number of active players are 6M+, and currently the site has the largest virtual goods catalog of more than 40 million items. The business was previously located in Mountain View, California. It was also known as one of the leading practitioners of the lean startup approach.</span>
						</figcaption>
					</figure>
				</div>
				
				<div id="la_inceput">
					<a href="#"> Înapoi la început! </a>
				</div>
			</main>
		</div>
    
	 <% include ../fragmente/footer %>

	</body>

</html>